{% extends "base.html" %}

{% block optional %}
{% load js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ data.chart_data | js }});

        var options = {
          title: 'Live Data',
          curveType: 'function',
          hAxis: {
            title: data.getColumnLabel(0)
          },
          vAxis: {
            title: data.getColumnLabel(1)
          },
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
</script>
<style>
  table, th, td {
    border: 1px solid black;
  }
  table {
    width: 50%;
  }
  table th, table td{
    padding: 5px;
  }
</style>
{% endblock %}
{% block title %} Detail {% endblock %}
{% block body%}
<div>
  <div class="container" style="margin: 20px 10px;">
    <div class="row">
        <div class="col-md-6">
          <table>
            <tr>
            <th>Device Id</th>
            <th>Device Name</th>
            </tr>
            <tr>
            <td>{{data.meter_address}}</td>
            <td>Device {{data.id}}</td>
            </tr>
        </table>
        </div>
        <div class="col-md-6">
          <table>
            <tr>
            <th>Device status</th>
            <th>last data point</th>
            </tr>
            <tr>
            <td>{{data.status}}</td>
            <td>{{data.meter_time}}</td>
            </tr>
        </table>
        </div>
    </div>
</div>
<div class="container" style="margin: 20px 10px;">
  <div class="row">
    <div class="col-md-3" style="border-style: solid; border-width: 1px; border-color: #000000;">
      <p> Average Phase Current </p>
      <p> {{ data.average_phase_current }}
    </div>
    <div class="col-md-3" style="border-style: solid; border-width: 1px; border-color: #000000;">
      <p> Average Neutral Current </p>
      <p> {{ data.average_neutral_current }}
    </div>
    <div class="col-md-3" style="border-style: solid; border-width: 1px; border-color: #000000;">
      <p> Average Voltage </p>
      <p> {{ data.average_voltage }}
    </div>
    <div class="col-md-3" style="border-style: solid; border-width: 1px; border-color: #000000;">
      <p> Total Consumption </p>
      <p> {{ data.total_consumption }}
    </div>
  </div>
</div>

    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</div>
{% endblock %}